body {
  overflow-x: hidden;
  background-color: #ffffff;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  box-sizing: border-box;
}

::selection {
  background-color: #3a74ff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}

/* Fonts being used throughout the website */

@font-face {
  font-family: "Gilroy-Regular";
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}

.Gilroy-Regular {
  font-family: "Gilroy-Regular";
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}

.Gilroy-Medium {
  font-family: "Gilroy-Medium";
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url(./assets/fonts/Gilroy-SemiBold.ttf);
}

.Gilroy-Semibold {
  font-family: "Gilroy-Semibold";
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}

.Gilroy-Bold {
  font-family: "Gilroy-Bold";
}

@font-face {
  font-family: "Gilroy-BoldItalic";
  src: url(./assets/fonts/Gilroy-BlackItalic.ttf);
}

.Gilroy-BoldItalic {
  font-family: "Gilroy-BoldItalic";
}

.navigationMenu {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  padding: 35px;
  background-color: #ffffff;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 1024px) {
  .LoginButtonNav {
    display: none;
  }

  .navigationMenuButton {
    display: block;
  }

  .hiddenNavMenu {
    display: flex;
  }

  .PricingCardsWrapper {
    flex-direction: column;
    
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .NavigationMenu {
    width: 100%;
    max-width: 100%;
    right: 0;
    top: 0;
    height: 100dvh;
    padding: 20px;
  }

  .footer-footer {
    flex-direction: column;
  }
}

.LoginButtonNavHidden {
  display: none;
}
